[submodule "tome-example"]
	path = tome-example
	url = https://github.com/grimoire-of-glass/tome-example
[submodule "addendum-example"]
	path = addendum-example
	url = https://github.com/grimoire-of-glass/addendum-example.git
