[submodule "tome-example"]
	path = tome-example
	url = https://github.com/hermetomancy/tome-example
[submodule "addendum-example"]
	path = addendum-example
	url = https://github.com/hermetomancy/addendum-example.git
